<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>     
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      
        
        
        <h1> BUSCAR POR APELLIDO </h1>
        <p>ingrese un apellido para buscar</p>
        <p></p>
        <hr/>
        
        <form>
        <form>
                     
        <fieldset>
                <label >[[#{cliente.apellidos}]]</label>
                <input type="text" name="apellido" value="apellido"/>
        </fieldset>
  
        <hr/>
            <input type="submit"/>   
            <a href="@{/cliente/buscarApellido/}+${apellido}"> buscar </a>
        </form> 
            
            
        </form>
            

        <footer th:replace="layout/plantilla :: footer"/>  
    </body>
</html>
